# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
node
.idea
*.iml
out
gen
.DS_Store
package-lock.json
/node_modules
